<%- include("partials/header") %>
    <h1>
        Contact Us
    </h1>
    <p>
        <%= contact %>
    </p>
    Gmail:&nbsp;s.keshav13142@gmail.com<br>
    Twitter : <a target="_blank" href="https://twitter.com/keshav13142">keshav13142</a><br>
    Github : <a href="https://github.com/keshav13142" target="_blank">keshav13142</a>
    <%- include("partials/footer") %>